# === ENVIRONNEMENT PYTHON ===
.venv/
venv/
env/
ENV/
.python-version

# === FICHIERS DJANGO ===
*.log
*.pot
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Base SQLite (toutes variantes)
*.sqlite3
*.sqlite3-journal

# === CONFIG & SÉCURITÉ ===
.env
.env.*
*.secret
secrets.json
!.env.example

# === SYSTEME & OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/

# === TESTS & CACHES ===
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
.tox/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
nosetests.xml
coverage.xml
*.mo

# === STATIC & MEDIA ===
staticfiles/
media/

# === MIGRATIONS TEMPORAIRES ===
**/migrations/__pycache__/
**/migrations/*.pyc
# (on garde les fichiers de migrations .py versionnés)

# === FRONT ===
node_modules/

# === BUILD OUTPUTS ===
static/css/tailwind.min.css
static/css/*.min.css
static/js/*.min.js

# === DEV TELEMETRY & TRACES (non versionnés) ===
# Garder le dossier .dev dans le repo, mais ignorer son contenu
.dev/*
!.dev/.gitkeep
# ne pas garder le contenu de dev
dev_metrics.jsonl
dev_traces.jsonl
